@import '~normalize.css';
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body{
    display: flex;
    justify-content: center;
    background-color: rgb(208, 208, 208);
    color: rgb(0, 0, 0);
    align-items: center;
    height: 600px;
}